/* Declare Color variables  */
:root {
  --darkgrayishblue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 1rem;
  font-size: 13px;
  color: var(--darkgrayishblue);
  background-color: var(--light-grayish-blue);
}
h2 {
  font-weight: 700;
}
.container {
  max-width: 600px;
  width: 100%;
  background-color: white;
  margin: 2rem auto;
  border-radius: 10px;
  overflow: hidden;
}

.image img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}
.content {
  padding: 1.5rem;
}
.user-profile {
  margin-top: 3rem;
}
.user-profile,
.content p {
  font-weight: 500;
}
.user-profile,
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-profile h3 {
  margin: 0;
  font-weight: 700;
}
.content > p,
.user-details > small {
  opacity: 0.5;
}

.share-btn {
  background-color: var(--light-grayish-blue);
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-btn img {
  width: 15px;
  height: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
