/* Create custom color variables */
:root {
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--light-grayish-blue);
  font-size: 13px;
  color: var(--dark-grayish-blue);
}

h1,
h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}
h2 {
  font-size: 13px;
}
.image img {
  width: 100%;
  object-fit: cover;
  height: 13rem;
  display: block;
}
.container {
  margin: auto;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.content {
  padding: 2.25rem 2rem 1.25rem 2rem;
}

.writer {
  display: flex;
  gap: 1rem;
}
.writer-avatar img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.btn {
  border: none;
  cursor: pointer;
  background: none;
}

.share-btn {
  background-color: var(--light-grayish-blue);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
  width: 32px;
  height: 32px;
  margin-left: 5rem;
}

.share-btn img {
  width: 15px;
  height: 13px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
